/* Navigation Component */
.nav-item-hover:hover{
    background-color: var(--color-ash-gray);
}
/* Slid Show */
.slid-show-container-wrapper{
    position: relative;
    width:100%;
    max-width: 1200px;
    max-height: 800px;
    height: 70vw;
    overflow-x: hidden;
}
.slid-show-image-container{
    display:flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: slide 16s infinite;
}
.slid-show-images{
    width: 1200px;
    width: 100%;
    object-fit: cover;
}
@keyframes slide {
    0% {
        transform: translateX(0)
    }
    12.5%{
        transform: translateX(0)
    }
    25%{
        transform: translateX(-100%)
    }
    75%{
        transform: translateX(-100%)
    }
    87.5%{
        transform: translateX(-200%)
    }
    100%{
        transform: translateX(-200%)
    }
}

/* Admin Panel Table */
@media (max-width: 640px){
    .table-data-header{
        position: relative;
        padding-left:45%;
        text-align:left;
        width:100%;
    }

    .table-data-header::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width:40%;
        padding-left:10px;
        margin-right: 10xp;
        text-align:left;
        font-weight: 800;
    }
    tr{
        position: relative;
        width:100%
    }
    tr::before{
        content:'';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width:40%;
        background-color: rgb(55 65 81 );
    }
}